@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Patua One', cursive;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header, .content {
    background-color: #1f2937;
}
.header {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    gap: 350px;
}
.header img{
    height: 160px;
    width: 160px;
}
.header p{
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 24px;
}
.links {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 12px;
}
.content {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.text #header {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}
.text #second {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    font-weight: normal;
}
.content img {
    border: 5px solid;
    border-radius: 10px;
    height: 300px;
    width: 500px;
    margin-bottom: 48px;
}
#button {
    background-color: #3882F6;
    font-size: 18px;
    border: 5px none;
    border-radius: 8px;
    margin-top: 16px;
    padding: 8px 36px;
    color: #f9faf8;
}
.informations {
    display: flex;
    justify-content: center;
    align-items: center;
}
.informations p{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.information-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 96px;
}
.info-text {
    display: flex;
    justify-content: space-evenly;
    align-content:  center;
    gap: 120px;
}

.information-box ul {
    display: flex;
    gap: 48px;
}
.information-box img {
    height: 200px;
    width: 200px;
    display: block;
}
.img-box {
    border: #3882F6 8px solid;
    border-radius: 8px;
}
.quote-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.quote-text {
    font-family: 'Courier New', Courier, monospace;
    flex: 1;
    flex-wrap: wrap;
    font-size: 36px;
    background-color: #e5e7eb;
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 20%;
    padding-right: 20%;
    font-style: italic;
    margin-bottom: 96px;
}
.quote-text #author {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: right;
    align-items: right;
}
.modal {
    display: flex;
    justify-content: center;
    align-content: center;
}
.modal-container {
    background-color: #3882F6;
    width: 800px;
    border-radius: 6px;
    padding: 50px;
    margin-bottom: 96px;
    display: flex;
    justify-content: space-evenly;
}
.modal-text {
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    flex-direction: column;
    color: #e5e7eb;
    
}
.modal-text #bold {
    font-size: 24px;
    font-weight: 900;
}
.modal-text p {
    margin: 0;
}
.modal-container #signup {
    display: flex;
    justify-content: center;
    align-content: left;
    height: 40px;
    width: 150px;
    font-size: 14px;
    background-color: #3882F6;
    color: #e5e7eb;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid;
}
.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
    padding: 24px;
}